.shop-list {
  margin: 1% 5%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.category-list {
  margin: 1% 5%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

@media (max-width: 960px) {
  .category-list {
    margin-bottom: 5%;
  }
}
