.verify-page {
  text-align: center;
  margin-top: 2%;
  padding: 10%;
}
.verify-head {
  padding: 3%;
  font-weight: 600;
}

.verify-content {
  font-weight: 500;
  font-size: larger;
}

.verify-btn {
  margin: 3%;
}

.verify-signout {
  font-weight: 600;
  color: #0fd153;
  margin-left: 10px;
  cursor: pointer;
}

.verify-cancel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.btn-verified {
  font-size: 18px !important;
  margin-bottom: 2%;
}
