.space-up{
  margin-top: 13px;
}

.space-left
{
  padding-left: 0px !important;
}

@media(max-width: 800px){
  .space-left{
      padding-left: 50px !important;
  }

  .space-up{
      position: absolute !important;
  }
}