.order-div {
  margin-left: 1%;
}

.order-btn {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-evenly;
}

.placed-on {
  margin-bottom: 1rem;
  margin-top: 3rem;
  margin-left: 1rem;
  font-weight: 400;
}

.arriving-on {
  margin-bottom: 3rem;
  margin-left: 1rem;
  font-weight: 600;
}

.invoice-link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  cursor: pointer;
  color: #02a747;
  font-weight: 500;

}
