.pass-color {
  color: #2ecc71 !important;
  margin-left: 10px !important;
}

b {
  font-weight: 550 !important;
}

.pass-centre {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 800px) {
  .button-tab {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .tab-mob {
    margin-right: auto !important;
    margin-left: auto !important;
    max-width: 100%;
  }
}
