#heading{
  padding-top: 10px;
  font-size: large;
  color: white;
  }
  
  #searchbar{
   background-color: #F5F5F5;  
  }
  
  .nav-item{
    text-decoration: none;
  }
  
  .nav-back-style{
    background-color: #2ECC71; 
    font-family: 'Montserrat', sans-serif;
  }
  
  .navbar-toggler{
    color: white !important;
    border-color: white !important;
  }
  
  .navbar-toggler-icon{
    color: white !important;
    border-color: white !important;
  }
  
  .nav-type{
    list-style-type: none;
  }
  
  .fa-color{
    color: white;
  }
  
  .nav-cart-space{
    margin-right: 120px;
  }
  
  .form-size{
    width: 50%;
  }
  
  @media(min-width: 960px){
    .fa-color-front{
        display: none !important;
    }
  }
  
  @media(max-width: 960px){
    .nav-back-style{
        background-color: #ffffff; 
        font-family: 'Montserrat', sans-serif;
        color: black;
    }
    .mob-color{
        color: black !important;
    }
    .fa-color{
        color: black;
    }
    .nav-button-mob{
        display: none !important;
    }
    .form-size{
        width: 100%;
        border-radius: 25px !important;
        padding-top: 15px;
    }
    .fa-color{
        display: none !important;
    }
    .fa-color-front-loc{
        color:  #2ECC71;
    }
  }
  