.btn-login {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 25px !important;
  font-weight: bolder;
  width: 300px;
  height: 70px;
  margin-top: 25px;
  border-radius: 20px !important;
  margin-bottom: 18px;
  border-color: #2ecc71 !important;
  color: #2ecc71 !important;
}

.btn-outline-success:hover {
  background-color: #2eec71 !important;
  color: #ffffff !important;
}

.btn-register {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 25px !important;
  font-weight: bolder;
  width: 300px;
  height: 70px;
  margin-top: 25px;
  border-radius: 20px !important;
  margin-bottom: 18px;
  background-color: #2ecc71 !important;
}

.btn-register:hover {
  background-color: #ffffff !important;
  color: #2ecc71;
  border-color: #2ecc71 !important;
}

.btn-sm {
  width: 150px;
  height: 40px;
  font-size: 13px !important;
  border-radius: 5px !important;
  padding: auto;
  margin: auto;
}

.btn-call {
  width: auto;
  height: 60px;
  font-size: 20px !important;
  border-color: white !important;
}
.btn-call:hover {
  background-color: #12a14e !important;
  color: white;
  border-color: white !important;
}

.btn-message {
  width: auto;
  height: 60px;
  font-size: 20px !important;
  background-color: #00bdfe !important;
  border-color: white !important;
}
.btn-message:hover {
  background-color: #009dd1 !important;
  color: white;
  border-color: white !important;
}

@media (max-width: 960px) {
  .btn-call {
    height: 50px;
    font-size: 15px !important;
  }
  .btn-message {
    height: 50px;
    font-size: 15px !important;
  }
}
